name: Build and push FastAPI server container to Docker Hub

on:
  push:
    branches:
      - main
    paths:
      - './server_fastapi/**/*'
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      {% raw %}
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      {% endraw %}

    - name: Build Docker image
      run: docker build -t {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/{{project_name}}_server_fastapi:{% raw %}${{ github.ref_name }}{% endraw %} ./server_fastapi

    - name: Tag latest Docker image
      run: docker tag {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/{{project_name}}_server_fastapi:{% raw %}${{ github.ref_name }} ${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/{{project_name}}_server_fastapi:latest

    - name: Push Docker image
      run: docker push {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/{{project_name}}_server_fastapi:{% raw %}${{ github.ref_name }}{% endraw %}

    - name: Push latest Docker image
      run: docker push {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/{{project_name}}_server_fastapi:latest
